$very-dark-brown: #564747;
$very-dark-brown-opacity: #564747d7;
$dark-brownish-red: #7c5656;
$soft-beige-background-opacity: rgba(235, 224, 209, 0.937);
$soft-beige-background: rgba(235, 224, 209);
$muted-red-brown: #8b6a6a;
$muted-red-brown-opacity: #8b6a6ae8;
$warm-gray: #908e8e;
$green: #889b73;
$red: #966161;
$blue: #6f88a3;
$neutral-gray: #6f6f6f;
$neutral-gray-opacity: #6f6f6fda;

$toast-error-bg: #a02405f1;
$toast-success-bg: #779c4cf1;
$toast-info-bg: #4b8ebbf1;
$toast-warning-bg: #e99700f1;

$alert-success-bg: #cdebc3ef;
$alert-success-color: #344d30;
$alert-info-bg: #c3e5ebef;
$alert-info-color: #115261;
$alert-warning-bg: #fcf1d2ef;

$margin-list-from-top-buttons: 10px;
$margin-list-from-bottom: 20px;

$buttons-top-panel-min-hight: 66px;
$border-radius: 8px;

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
