$very-dark-brown: #564747;
$dark-brownish-red: #7c5656;
$soft-beige-background-opacity: rgba(235, 224, 209, 0.937);
$soft-beige-background: rgba(235, 224, 209);
$muted-red-brown: #8b6a6a;
$muted-red-brown-opacity: #8b6a6ae8;
$violet: #61307a;
$warm-gray: #908e8e;
$yellow: #e3d79a;
$green: #889b73;
$red: #966161;
$blue: #6f88a3;
$neutral-gray: #6f6f6f;
$neutral-gray-opacity: #6f6f6fda;

$margin-list-from-top-buttons: 10px;
$margin-list-from-bottom: 20px;

$buttons-top-panel-min-hight: 66px;

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
