@import "theme.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("https://chatcontrolstorage.blob.core.windows.net/icons/BackgroundTestKlein.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-shadow {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.list-container {
  background-color: $soft-beige-background-opacity;
  border-radius: $border-radius;
  padding: 16px;
  margin-top: $margin-list-from-top-buttons;
  margin-bottom: $margin-list-from-bottom;
  box-shadow: 0px 4px $border-radius rgba(0, 0, 0, 0.1);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 85vh;
  app-skeleton-full-screen {
    flex: 1;
    display: flex;
    width: 100%;
  }
}

.adv-list-icon {
  width: 50px;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  cursor: pointer;
}

mat-list {
  overflow: auto;
}

.home-symbols-outlined {
  color: $dark-brownish-red;
  font-size: 36px;
}

.very-dark-brown {
  color: $very-dark-brown;
}

.dark-brownish-red {
  color: $dark-brownish-red;
}

.soft-beige-background-opacity {
  background-color: $soft-beige-background-opacity;
}

.muted-red-brown {
  color: $muted-red-brown;
}

.warm-gray {
  color: $warm-gray;
}

.red {
  color: $red;
}

a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.empty-button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.errorMessage {
  color: $red;
}
.errorMessage,
.my-info-text {
  font-size: 12px;
}

.image-container {
  height: auto;
  object-fit: contain;
}

.semi-transparent {
  opacity: 0.7;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: $red;
}

.modal-header {
  padding-bottom: 0;
  margin-bottom: 0;
}

.mat-mdc-dialog-surface {
  border-radius: 8px !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  background-color: $soft-beige-background !important;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.custom-dialog-container {
  animation: slideInFromTop 0.2s ease-out;
}

.spinner-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  z-index: 1000;
}

.spinner-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-border {
  border-radius: $border-radius;
  border: 1px solid $muted-red-brown-opacity;
}

.background-rectangle-panel-common {
  @extend .container-border;
  background-color: $soft-beige-background-opacity;
  min-height: $buttons-top-panel-min-hight;
}

.background-rectangle-panel-shadow {
  @extend .background-rectangle-panel-common;
  box-shadow: 0px 4px $border-radius rgba(0, 0, 0, 1);
}

.modal-body {
  background-color: $soft-beige-background;
  border-radius: $border-radius;
}

.my-dialog {
  background-color: $soft-beige-background;
  border-radius: $border-radius;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.slide-in-animation {
  opacity: 0;
  animation: slide-down 0.4s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.skeleton-panel {
  width: 100%;
  height: 92%;
  background: linear-gradient(
    135deg,
    $soft-beige-background-opacity 15%,
    $very-dark-brown-opacity 50%,
    $soft-beige-background-opacity 85%
  );
  background-size: 500% 100%;
  border-radius: 8px;
  animation: wave 18s linear infinite;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.toast-top-full-width {
  top: 4px !important;
}

.toast-error {
  background-color: $toast-error-bg !important;
  color: #ffffff !important;
}

.toast-success {
  background-color: $toast-success-bg !important;
  color: #ffffff !important;
}

.toast-info {
  background-color: $toast-info-bg !important;
  color: #ffffff !important;
}

.toast-warning {
  background-color: $toast-warning-bg !important;
  color: #ffffff !important;
  border: 0;
}

.alert.alert-success {
  background-color: $alert-success-bg !important;
  color: $alert-success-color !important;
  border: 0;
}

.alert.alert-info {
  background-color: $alert-info-bg !important;
  color: $alert-info-color !important;
  border: 0;
}

.alert.alert-warning {
  background-color: $alert-warning-bg !important;
  border: 0;
}
