html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url("https://chatcontrolstorage.blob.core.windows.net/icons/BackgroundTestKlein.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.empty-button {
  border: none;
  background: none;
  cursor: pointer;
}

.header-button {
  border: 1px solid #7957578e;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ebe0d1ef;
  flex-grow: 1;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.preview-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.list-group-item {
  cursor: pointer;
}

.errorMessage {
  color: red;
}
.errorMessage,
.my-info-text {
  font-size: 12px;
}

.image-container {
  height: auto;
  object-fit: contain;
}

.semi-transparent {
  opacity: 0.7;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: red;
}

.modal-header {
  padding-bottom: 0;
  margin-bottom: 0;
}

.mat-mdc-dialog-surface {
  border-radius: 8px !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.custom-dialog-container {
  animation: slideInFromTop 0.2s ease-out;
}

.spinner-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  z-index: 1000;
}

.spinner-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-shadow {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.very-dark-brown {
  color: #564747;
}

.dark-brownish-red {
  color: #7c5656;
}

.home-symbols-outlined {
  color: #7c5656;
  font-size: 36px;
}

/*
EBE0D1EF   rgba(235, 224, 209, 0.937)   -- background
8B6A6A     rgba(139, 106, 106, 1)       -- A medium-dark, muted red-brown -- icon default
7C5656     rgba(124, 86, 86, 1)         -- Dark Brownish-Red
564747     rgba(86, 71, 71, 1)          -- Very Dark Brown
61307A     rgba(97, 48, 122, 1)         -- Violet
908E8E     rgba(144, 142, 142, 1)       -- muted for the bottom text
E3D79A     rgba(227, 215, 154, 1)       -- Yellow
889B73     rgba(136, 155, 115, 1)       -- Green 
966161     rgba(150, 97, 97, 1)         -- Red
6F88A3     rgba(111, 136, 163, 1)       -- Blue 
*/
