/* You can add global styles to this file, and also import other style files  */

html,
body {
  margin: 0;
  padding: 0;
  height: 99%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.empty-button {
  border: none;
  background: none;
  cursor: pointer;
}

.preview-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.list-group-item {
  cursor: pointer;
}

.errorMessage {
  color: red;
}
.errorMessage,
.my-info-text {
  font-size: 12px;
}
