# Базовые node_modules и среда разработки
node_modules/
dist/
tmp/
out-tsc/

# Среды разработки
.vscode/
.idea/
.sublime-project
.sublime-workspace

# Файлы конфигураций ОС и редакторов
.DS_Store
Thumbs.db
*.log
*.bak
*.swp

# Файлы Angular
.angular/

# Сервисные файлы для npm и yarn
package-lock.json
yarn.lock

# Файлы окружения
.env
