<body class="p-1">
  <div class="container-fluid">
    <form
      id="editForm"
      [formGroup]="editForm"
      (ngSubmit)="confirm()"
      autocomplete="off"
    >
      <div class="d-flex background-rectangle-panel-shadow">
        <div class="col-6 d-flex align-items-center justify-content-center">
          <button
            class="btn empty-button slide-in-animation"
            type="submit"
            [disabled]="editForm.invalid"
          >
            <span class="material-symbols-outlined text-muted">
              check_circle
            </span>
            <div class="text-muted">{{ Localization.getWord("approve") }}</div>
          </button>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button slide-in-animation"
            type="button"
            (click)="reject()"
            [disabled]="editForm.invalid"
          >
            <span class="material-symbols-outlined text-muted"> cancel </span>
            <div class="text-muted">{{ Localization.getWord("reject") }}</div>
          </button>
        </div>
      </div>
      <div class="mt-2">
        <app-advertisement-main-data></app-advertisement-main-data>

        <mat-form-field class="mt-2 w-100 background-rectangle-panel-common">
          <mat-label>{{ Localization.getWord("admin_comment") }}</mat-label>
          <textarea
            matInput
            rows="3"
            name="adminMessage"
            formControlName="adminMessage"
          ></textarea>
          <mat-error>{{
            matErrorService.getErrorMessage(
              editForm.controls["adminMessage"],
              "adminMessage"
            )
          }}</mat-error>
          <mat-hint [align]="'end'">
            {{ commentCounter }}/{{ maxCommentLength }}</mat-hint
          >
        </mat-form-field>
      </div>
    </form>
    <ng-template #modalDialogApprove>
      <modal-dialog-approve-validation-admin
        [confirm]="modalDialogConfirm"
        [close]="hideDialog"
      ></modal-dialog-approve-validation-admin>
    </ng-template>
  </div>
</body>
