@import "../../../styles.scss";

.admin-comment {
  border-radius: $border-radius;
  width: 100%;
  padding: 5px;
  background-color: $soft-beige-background;
  font-style: italic;
  resize: none;
  overflow-y: auto;
}

.admin-comment-panel {
  @extend .container-border;
  background-color: $alert-warning-bg;
}
