<body class="p-1">
  @if(appStore.selectedAdvertisement()){
  <div class="container-fluid">
    <!-- buttons: status NEW  -->
    <div
      *ngIf="
        appStore.selectedAdvertisement()?.statusId === advertisementStatus.new
      "
      class="background-rectangle-panel-shadow"
    >
      <div class="d-flex">
        <div class="col-4 d-flex align-items-center justify-content-center">
          <ng-container *ngTemplateOutlet="deleteButtonTemplate"></ng-container>
        </div>
        <div
          class="col-4 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button"
            (click)="edit()"
            [disabled]="busyService.isLoading()"
          >
            <span class="material-symbols-outlined text-muted"> edit </span>
            <div class="text-muted">{{ Localization.getWord("edit") }}</div>
          </button>
        </div>
        <div
          class="col-4 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button slide-in-animation"
            (click)="sendToValidateDialogShow()"
            [disabled]="busyService.isLoading()"
          >
            <span class="material-symbols-outlined text-muted"> verified </span>
            <div class="text-muted">
              {{ Localization.getWord("validate_title") }}
            </div>
          </button>
        </div>
      </div>
    </div>

    <!-- buttons: status VALIDATED  -->
    <div
      *ngIf="
        appStore.selectedAdvertisement()?.statusId ===
        advertisementStatus.validated
      "
    >
      <div class="d-flex background-rectangle-panel-shadow">
        <div class="col-6 d-flex align-items-center justify-content-center">
          <ng-container *ngTemplateOutlet="deleteButtonTemplate"></ng-container>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button"
            (click)="publishDialogShow()"
            [disabled]="busyService.isLoading()"
          >
            <span class="material-symbols-outlined text-muted">
              schedule_send
            </span>
            <div class="text-muted">{{ Localization.getWord("publish") }}</div>
          </button>
        </div>
      </div>
      <div
        *ngIf="
          appStore.selectedAdvertisement()?.statusId ===
          advertisementStatus.validated
        "
        class="alert alert-success mt-2 mb-0"
        role="alert"
      >
        <div class="text-center">{{ Localization.getWord("confirmed") }}</div>

        <div
          *ngIf="
            appStore.selectedAdvertisement()?.publishFrequency;
            else oneTime
          "
          class="text-center"
        >
          {{ Localization.getWord("posting_frequency") }}
          {{ appStore.selectedAdvertisement()?.publishFrequency }}
          {{
            getDayWord(appStore.selectedAdvertisement()?.publishFrequency ?? 0)
          }}.
        </div>

        <ng-template #oneTime>
          <div class="text-center">
            {{ Localization.getWord("one_time_posting") }}
          </div>
        </ng-template>
      </div>
    </div>

    <!-- buttons: status PENDING_PUBLICATION  -->
    <div
      *ngIf="
        appStore.selectedAdvertisement()?.statusId ===
        advertisementStatus.pendingPublication
      "
    >
      <div
        *ngIf="shouldShowCancelButton() || shouldShowAdminButtons()"
        class="d-flex background-rectangle-panel-shadow mb-2"
      >
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            *ngIf="shouldShowAdminButtons()"
            class="btn empty-button"
            (click)="forcePublicationDialogShow()"
          >
            <span class="material-symbols-outlined text-muted">
              fast_forward
            </span>
            <div class="text-muted">{{ Localization.getWord("force") }}</div>
          </button>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            *ngIf="shouldShowCancelButton()"
            class="btn empty-button"
            (click)="cancelPublicationDialogShow()"
          >
            <span class="material-symbols-outlined text-muted"> cancel </span>
            <div class="text-muted">{{ Localization.getWord("cancel") }}</div>
          </button>
        </div>
      </div>

      <div class="alert alert-info text-center mb-0" role="alert">
        <div class="d-flex flex-column">
          <div>{{ Localization.getWord("waiting_for_publication") }}</div>
          <div
            *ngIf="
              !appStore.selectedAdvertisement()?.placeInQueue;
              else imageListContent
            "
          >
            {{ Localization.getWord("will_be_queued") }}
            {{
              appStore.selectedAdvertisement()?.nextPublishDate
                | date : "dd.MM.yyyy"
            }}
          </div>
        </div>
        <ng-template #imageListContent>
          <div class="d-flex flex-column">
            <div>
              {{ Localization.getWord("queue_position") }}
              {{ appStore.selectedAdvertisement()?.placeInQueue }}
            </div>
            <div class="text-muted my-info-text lh-sm mt-1">
              {{ Localization.getWord("placement_depends_on_activity") }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- buttons: status REJECTED  -->
    <div
      *ngIf="
        appStore.selectedAdvertisement()?.statusId ===
        advertisementStatus.rejected
      "
    >
      <div class="d-flex background-rectangle-panel-shadow">
        <div class="col-6 d-flex align-items-center justify-content-center">
          <ng-container *ngTemplateOutlet="deleteButtonTemplate"></ng-container>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button class="btn empty-button" (click)="edit()">
            <span class="material-symbols-outlined text-muted"> edit </span>
            <div class="text-muted">{{ Localization.getWord("edit") }}</div>
          </button>
        </div>
      </div>
      <div class="alert alert-warning text-center mt-2 mb-0" role="alert">
        {{ Localization.getWord("advertisement_rejected") }}
      </div>
    </div>

    <!-- buttons: status PENDING_VALIDATION  -->
    <div
      *ngIf="
        appStore.selectedAdvertisement()?.statusId ===
        advertisementStatus.pendingValidation
      "
    >
      <div class="alert alert-info text-center mb-0" role="alert">
        {{ Localization.getWord("sent_to_admin_for_confirmation") }}
      </div>
    </div>

    <!-- No Username error -->
    <div *ngIf="!appStore.user()?.userName" class="mt-2">
      <div class="alert alert-warning text-center mb-0" role="alert">
        <div
          class="text-center"
          [innerHTML]="Localization.getWord('username_not_specified')"
        ></div>
        <div
          class="text-center"
          [innerHTML]="Localization.getWord('update_profile_and_run_command')"
        ></div>
      </div>
    </div>

    <div
      *ngIf="
        appStore.selectedAdvertisement()?.statusId ===
        advertisementStatus.published
      "
      class="alert alert-success mb-0"
      role="alert"
    >
      <div class="text-center">
        {{ Localization.getWord("published") }}
        {{
          dateHelper.getLocalTime(
            appStore.selectedAdvertisement()?.nextPublishDate
          )
        }}
      </div>
      <div class="text-center">
        {{ Localization.getWord("author") }}
        {{
          advertisementHelper.getUserDisplayName(
            appStore.selectedAdvertisement()
          )
        }}
      </div>
    </div>

    <div class="mt-2">
      <app-advertisement-main-data></app-advertisement-main-data>
    </div>
    <div
      *ngIf="
        appStore.selectedAdvertisement()?.adminMessage &&
        appStore.selectedAdvertisement()?.adminMessage?.length &&
        (appStore.user()?.isAdmin ||
          appStore.user()?.userId === appStore.selectedAdvertisement()?.userId)
      "
      class="input-group mt-2 pb-4"
    >
      <span class="input-group-text" id="adminMessage">
        <div>{{ Localization.getWord("comment") }}</div>
      </span>
      <textarea
        class="form-control"
        placeholder="{{ Localization.getWord('comment_short') }}"
        disabled="true"
        rows="3"
        name="adminMessage"
        [ngModel]="appStore.selectedAdvertisement()?.adminMessage"
      ></textarea>
    </div>

    <ng-template #modalDialogCancelPublicationAdmin>
      <modal-dialog-cancel-publication-admin
        [close]="closeDialog"
        [confirm]="cancelPublicationAdmin"
      ></modal-dialog-cancel-publication-admin>
    </ng-template>

    <ng-template #modalDialogForcePublicationAdmin>
      <modal-dialog-force-publication-admin
        [close]="closeDialog"
        [confirm]="forcePublication"
      ></modal-dialog-force-publication-admin>
    </ng-template>

    <ng-template #modalDialogPublicationInfo>
      <modal-dialog-publication-info
        [nextPublishDate]="nextPublishDate"
        [close]="closeDialog"
        [confirm]="modalDialogPublishConfirm"
      ></modal-dialog-publication-info>
    </ng-template>
  </div>
  }

  <!-- Delete Button Template -->
  <ng-template #deleteButtonTemplate>
    <button
      class="btn empty-button"
      (click)="delete()"
      [disabled]="busyService.isLoading()"
    >
      <ng-container *ngIf="busyService.isLoading(); else defaultIcon">
        <mat-spinner [diameter]="24"></mat-spinner>
      </ng-container>
      <ng-template #defaultIcon>
        <span class="material-symbols-outlined text-muted">
          delete_forever
        </span>
      </ng-template>
      <div class="text-muted">{{ Localization.getWord("delete") }}</div>
    </button>
  </ng-template>
</body>
