<body class="p-1">
  @if(advertisement){
  <div class="container-fluid px-0">
    <!-- buttons: status NEW  -->
    <div
      *ngIf="advertisement.statusId === advertisementStatus.new"
      class="background-rectangle-panel-shadow"
    >
      <div class="d-flex mt-2">
        <div class="col-4 d-flex align-items-center justify-content-center">
          <ng-container *ngTemplateOutlet="deleteButtonTemplate"></ng-container>
        </div>
        <div
          class="col-4 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button"
            (click)="edit()"
            [disabled]="busyService.isLoading()"
          >
            <span class="material-symbols-outlined text-muted"> edit </span>
            <div class="text-muted">Редактировать</div>
          </button>
        </div>
        <div
          class="col-4 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button"
            (click)="sendToValidateDialogShow()"
            [disabled]="busyService.isLoading()"
          >
            <span class="material-symbols-outlined text-muted"> verified </span>
            <div class="text-muted">Валидировать</div>
          </button>
        </div>
      </div>
    </div>

    <!-- buttons: status VALIDATED  -->
    <div *ngIf="advertisement.statusId === advertisementStatus.validated">
      <div class="d-flex mt-2 background-rectangle-panel-shadow">
        <div class="col-6 d-flex align-items-center justify-content-center">
          <ng-container *ngTemplateOutlet="deleteButtonTemplate"></ng-container>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button"
            (click)="publishDialogShow()"
            [disabled]="busyService.isLoading()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="M182-236v-492l467 201q-13 2-27.5 4.5T598-516L210-680v160l180 40-180 40v160l249-106q-4 8-7 19t-4 16L182-236Zm488 84q-62 0-105-43t-43-105q0-62 43-105t105-43q62 0 105 43t43 105q0 62-43 105t-105 43Zm66-62 20-20-72-72v-108h-28v120l80 80ZM210-386v-294 400-106Z"
              />
            </svg>
            <div class="text-muted">Разместить</div>
          </button>
        </div>
      </div>
      <div
        *ngIf="advertisement.statusId === advertisementStatus.validated"
        class="alert alert-success mt-2"
        role="alert"
      >
        <div class="text-center">Подтверждено!</div>

        <div
          *ngIf="advertisement.publishFrequency; else oneTime"
          class="text-center"
        >
          Периодичность размещения: раз в
          {{ advertisement.publishFrequency }}
          {{ getDayWord(advertisement.publishFrequency) }}.
        </div>

        <ng-template #oneTime>
          <div class="text-center">Одноразовое размещение.</div>
        </ng-template>
      </div>
    </div>

    <!-- buttons: status PENDING_PUBLICATION  -->
    <div
      *ngIf="advertisement.statusId === advertisementStatus.pendingPublication"
    >
      <div class="d-flex mt-2 background-rectangle-panel-shadow">
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            *ngIf="shouldShowForceButton()"
            class="btn empty-button"
            (click)="forcePublicationDialogShow()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="48px"
              viewBox="0 -960 960 960"
              width="48px"
              fill="#5f6368"
            >
              <path
                d="M184-312v-336l248 168-248 168Zm344 0v-336l248 168-248 168ZM206-480Zm344 0ZM206-354l188-126-188-127v253Zm344 0 188-126-188-127v253Z"
              />
            </svg>
            <div class="text-muted">Форсировать</div>
          </button>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            *ngIf="shouldShowCancelButton()"
            class="btn empty-button"
            (click)="cancelPublicationDialogShow()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="M306-466h348v-28H306v28Zm174.17 334q-72.17 0-135.73-27.39-63.56-27.39-110.57-74.35-47.02-46.96-74.44-110.43Q132-407.65 132-479.83q0-72.17 27.39-135.73 27.39-63.56 74.35-110.57 46.96-47.02 110.43-74.44Q407.65-828 479.83-828q72.17 0 135.73 27.39 63.56 27.39 110.57 74.35 47.02 46.96 74.44 110.43Q828-552.35 828-480.17q0 72.17-27.39 135.73-27.39 63.56-74.35 110.57-46.96 47.02-110.43 74.44Q552.35-132 480.17-132Zm-.17-28q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
              />
            </svg>
            <div class="text-muted">Отменить</div>
          </button>
        </div>
      </div>

      <div class="alert alert-info text-center mt-2" role="alert">
        <div class="d-flex flex-column">
          <div>Ожидает размещения!</div>
          <div *ngIf="!advertisement.placeInQueue; else imageListContent">
            Будет поставлено в очередь:
            {{ advertisement.nextPublishDate | date : "dd.MM.yyyy" }}
          </div>
        </div>
        <ng-template #imageListContent>
          <div class="d-flex flex-column">
            <div>Место в очереди: {{ advertisement.placeInQueue }}</div>
            <div class="text-muted my-info-text lh-sm mt-1">
              *Размещение объявлений зависит от активности в группе
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- buttons: status REJECTED  -->
    <div *ngIf="advertisement.statusId === advertisementStatus.rejected">
      <div class="d-flex mt-2 background-rectangle-panel-shadow">
        <div class="col-6 d-flex align-items-center justify-content-center">
          <ng-container *ngTemplateOutlet="deleteButtonTemplate"></ng-container>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button class="btn empty-button" (click)="edit()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="M200-200h40l439-439-40-40-439 439v40Zm-28 28v-80l527-528q4.39-3.83 9.7-5.91Q714-788 719.68-788q5.67 0 11 1.5Q736-785 741-780l39 39q5 5 6.5 10.41t1.5 10.82q0 5.77-1.91 11.07-1.92 5.31-6.09 9.7L252-172h-80Zm589-548-41-41 41 41Zm-102.35 61.35L639-679l40 40-20.35-19.65Z"
              />
            </svg>
            <div class="text-muted">Редактировать</div>
          </button>
        </div>
      </div>
      <div class="alert alert-warning text-center mt-2" role="alert">
        Объявление отклонено!
      </div>
    </div>

    <!-- buttons: status PENDING_VALIDATION  -->
    <div
      *ngIf="advertisement.statusId === advertisementStatus.pendingValidation"
      class="mt-2"
    >
      <div class="alert alert-info text-center" role="alert">
        Отправлено администратору для подтверждения!
      </div>
    </div>

    <!-- No Username error  -->
    <div *ngIf="!accountService.currentUser()?.userName" class="mt-2">
      <div class="alert alert-warning text-center" role="alert">
        <div class="text-center">⚠️ У вас не указан &#64;Username!</div>
        <div class="text-center">
          Обновите свой профиль и в боте выполните комманду
          <strong>/start</strong>.
        </div>
      </div>
    </div>

    <div
      *ngIf="advertisement.statusId === advertisementStatus.published"
      class="alert alert-success mt-2"
      role="alert"
    >
      <div class="text-center">
        Размещено:
        {{ dateHelper.getLocalTime(advertisement.nextPublishDate) }}
      </div>
      <div class="text-center">
        Автор: {{ advertisementHelper.getUserDisplayName(advertisement) }}
      </div>
    </div>

    <app-advertisement-main-data
      [title]="advertisement.title"
      [message]="advertisement.message"
      [url]="advertisement.adImage?.url"
      [linkName]="advertisement.linkName"
      [linkValue]="advertisement.linkValue"
      [created]="dateHelper.getLocalTime(advertisement.created)"
      [updated]="dateHelper.getLocalTime(advertisement.updated)"
    ></app-advertisement-main-data>

    <div
      *ngIf="
        advertisement.adminMessage &&
        advertisement.adminMessage.length &&
        (accountService.currentUser()?.isAdmin ||
          accountService.currentUser()?.userId === advertisement.userId)
      "
      class="input-group mt-3 pb-4"
    >
      <span class="input-group-text" id="adminMessage">
        <div>Комментарий:</div>
      </span>
      <textarea
        class="form-control"
        placeholder="Комментарий"
        disabled="true"
        rows="3"
        name="adminMessage"
        [(ngModel)]="advertisement.adminMessage"
      ></textarea>
    </div>

    <ng-template #modalDialogCancelPublicationAdmin>
      <div class="modal-header">
        <h6 class="modal-title pull-left">Отменить публикацию?</h6>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="shouldRejectValidation"
            [disabled]="busyService.isLoading()"
            id="blockAdv"
          />
          <label class="form-check-label" for="blockAdv">
            Заблокировать объявление?
          </label>
        </div>
        <div *ngIf="shouldRejectValidation" class="text-muted my-info-text">
          Валидация будет отозвана
        </div>
        <mat-form-field class="mt-3 col-12">
          <mat-label>Комментарий</mat-label>
          <textarea
            matInput
            rows="3"
            name="adminMessage"
            maxlength="200"
            [(ngModel)]="adminComment"
            [readonly]="busyService.isLoading()"
          ></textarea>
        </mat-form-field>

        <div class="d-flex justify-content-end">
          <button
            class="btn empty-button me-4"
            (click)="cancelPublicationAdmin()"
            [disabled]="busyService.isLoading()"
          >
            <div>Да</div>
          </button>
          <button
            class="btn empty-button"
            (click)="modalRef?.hide()"
            [disabled]="busyService.isLoading()"
          >
            <div>Нет</div>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <mat-progress-bar
          *ngIf="busyService.isLoading()"
          mode="buffer"
          style="width: 90%"
        ></mat-progress-bar>
      </div>
    </ng-template>

    <ng-template #modalDialogForcePublicationAdmin>
      <div class="modal-header">
        <h6 class="modal-title pull-left text-muted">
          Разместить объявление мгновенно?
        </h6>
      </div>
      <div class="modal-body">
        <mat-form-field class="mt-2 col-12">
          <mat-label>Комментарий</mat-label>
          <textarea
            matInput
            rows="3"
            name="adminMessage"
            maxlength="200"
            [readonly]="busyService.isLoading()"
            [(ngModel)]="adminComment"
          ></textarea>
        </mat-form-field>

        <div class="d-flex justify-content-end">
          <button
            class="btn empty-button me-4"
            (click)="forcePublication()"
            [disabled]="busyService.isLoading()"
          >
            <div>Да</div>
          </button>
          <button
            class="btn empty-button"
            (click)="modalRef?.hide()"
            [disabled]="busyService.isLoading()"
          >
            <div>Нет</div>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <mat-progress-bar
          *ngIf="busyService.isLoading()"
          mode="buffer"
          style="width: 90%"
        ></mat-progress-bar>
      </div>
    </ng-template>

    <ng-template #modalDialogPublicationInfo>
      <div class="modal-body">
        <div class="text-center mb-2">
          Объявление будет поставлено в очередь
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="text-center mb-2 me-2">начиная с:</div>
          <mat-progress-bar
            *ngIf="
              busyService.isLoading() && !nextPublishDate;
              else nextPublishDateTemplate
            "
            mode="buffer"
            style="width: 5rem"
          ></mat-progress-bar>
          <ng-template #nextPublishDateTemplate>
            <div class="text-center mb-2">
              {{ nextPublishDate | date : "dd.MM.yyyy" }}
            </div>
          </ng-template>
        </div>

        <div class="text-center text-muted mb-2 my-info-text lh-sm mt-1">
          *Размещение объявлений зависит от активности в группе
        </div>
        <div class="d-flex justify-content-end">
          <button
            class="btn empty-button me-4"
            (click)="modalDialogPublishConfirm()"
            [disabled]="busyService.isLoading()"
          >
            <div>Подтвердить</div>
          </button>
          <button class="btn empty-button" (click)="modalRef?.hide()">
            <div>Назад</div>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  }

  <!-- Delete Button Template -->
  <ng-template #deleteButtonTemplate>
    <button
      class="btn empty-button"
      (click)="delete()"
      [disabled]="busyService.isLoading()"
    >
      <ng-container *ngIf="busyService.isLoading(); else defaultIcon">
        <mat-spinner [diameter]="24"></mat-spinner>
      </ng-container>
      <ng-template #defaultIcon>
        <span class="material-symbols-outlined text-muted">
          delete_forever
        </span>
      </ng-template>
      <div class="text-muted">Удалить</div>
    </button>
  </ng-template>
</body>
