.admin-comment {
  height: 105px;
  line-height: 100px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(235, 224, 209, 0.937);
  font-style: italic;
}

.admin-comment-label {
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(235, 224, 209, 0.937);
}


