@import "../../../../theme.scss";

.empty-list-placeholder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border-color: $soft-beige-background-opacity;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: radial-gradient(
    circle,
    $soft-beige-background 50%,
    transparent 70%
  );
  mask-mode: alpha;
}

.empty-list-text {
  color: $neutral-gray-opacity;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.137);
}

.placeholder-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}