<div class="container">
  <form [formGroup]="sortForm" (ngSubmit)="save()">
    <div class="d-flex align-items-end mb-2 search-container">
      <div class="d-flex">
        <mat-form-field
          *ngIf="sortForm.get('selectedSearchType')?.value === 'date'"
          class="scaled-form-field"
        >
          <mat-label>{{ Localization.getWord("range") }}</mat-label>
          <mat-date-range-input
            [rangePicker]="picker"
            formGroupName="dateRange"
          >
            <input matStartDate formControlName="start" />
            <input matEndDate formControlName="end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div *ngIf="sortForm.get('selectedSearchType')?.value !== 'date'">
          <input
            type="text"
            class="form-control searchInput"
            [placeholder]="Localization.getWord('search')"
            aria-label="Text input with dropdown button"
            formControlName="searchValue"
          />
          <div
            *ngIf="sortForm.controls['searchValue'].errors"
            class="text-danger my-info-text"
          >
            {{
              Localization.getFormattedWord("maximum_characters", {
                maxLength:
                  sortForm.controls["searchValue"].errors["maxlength"]
                    .requiredLength
              })
            }}
          </div>
        </div>
      </div>
      <select class="form-select ms-1" formControlName="selectedSearchType">
        <option value="date">{{ Localization.getWord("by_date") }}</option>
        <option value="title">{{ Localization.getWord("by_title") }}</option>
        <option [hidden]="!data.isExtended" value="content">
          {{ Localization.getWord("by_content") }}
        </option>
        <option [hidden]="!data.isExtended" value="username">
          {{ Localization.getWord("by_username") }}
        </option>
        <option [hidden]="!data.isExtended" value="name">
          {{ Localization.getWord("by_name") }}
        </option>
      </select>
    </div>

    <h6 class="text-muted">{{ Localization.getWord("sort") }}</h6>
    <section class="d-flex flex-column">
      <mat-radio-group formControlName="selectedSortType">
        <mat-radio-button value="date" class="d-block">
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1 sortName">{{
              Localization.getWord("sort_by_date")
            }}</span>
            <select class="form-select" formControlName="selectedSortDate">
              <option value="asc">
                {{ Localization.getWord("ascending") }}
              </option>
              <option value="desc">
                {{ Localization.getWord("descending") }}
              </option>
            </select>
          </div>
        </mat-radio-button>
        <mat-radio-button value="title" class="mt-1 d-block">
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1 sortName">{{
              Localization.getWord("sort_by_title")
            }}</span>
            <select class="form-select" formControlName="selectedSortTitle">
              <option value="asc">
                {{ Localization.getWord("ascending") }}
              </option>
              <option value="desc">
                {{ Localization.getWord("descending") }}
              </option>
            </select>
          </div>
        </mat-radio-button>
        <mat-radio-button
          *ngIf="data.isExtended"
          value="username"
          class="mt-1 d-block"
        >
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1 sortName">{{
              Localization.getWord("sort_by_username")
            }}</span>
            <select class="form-select" formControlName="selectedSortUsername">
              <option value="asc">
                {{ Localization.getWord("ascending") }}
              </option>
              <option value="desc">
                {{ Localization.getWord("descending") }}
              </option>
            </select>
          </div>
        </mat-radio-button>
        <mat-radio-button
          *ngIf="data.isExtended"
          value="name"
          class="mt-1 d-block"
        >
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1 sortName">{{
              Localization.getWord("sort_by_name")
            }}</span>
            <select class="form-select" formControlName="selectedSortName">
              <option value="asc">
                {{ Localization.getWord("ascending") }}
              </option>
              <option value="desc">
                {{ Localization.getWord("descending") }}
              </option>
            </select>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <hr />

    <mat-dialog-actions [align]="'end'">
      <button
        class="btn empty-button"
        type="submit"
        [disabled]="sortForm.invalid"
      >
        <div>{{ Localization.getWord("select") }}</div>
      </button>
      <button class="btn empty-button" type="button" (click)="close()">
        <div>{{ Localization.getWord("back") }}</div>
      </button>
    </mat-dialog-actions>
  </form>
</div>
