@import "../../../../theme.scss";

@mixin skeleton {
  width: 100%;
  background: linear-gradient(
    135deg,
    $soft-beige-background-opacity 15%,
    $very-dark-brown 50%,
    $soft-beige-background-opacity 85%
  );
  background-size: 500% 100%;
  border-radius: 8px;
  animation: wave 18s linear infinite;
  border: 1px solid $muted-red-brown-opacity;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.header-buttons-panel {
  @include skeleton;
  height: $buttons-top-panel-min-hight;
}

.list-panel {
  @include skeleton;
  margin-top: $margin-list-from-top-buttons;
  height: 376px;
}

@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
