:root {
  --input-width: 180px; 
}

.scaled-form-field {
  transform-origin: top left;
  height: 50px;
  width: var(--input-width); 
}

.scaled-form-field input {
  font-size: 0.8rem;
}

.scaled-form-field
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

.searchInput {
  width: var(--input-width);
}

.search-container {
  height: 60px;
}
