<div class="container">
  <form [formGroup]="sortForm" (ngSubmit)="save()">
    <div class="d-flex align-items-end mb-2 search-container">
      <div class="d-flex">
        <mat-form-field
          *ngIf="sortForm.get('selectedSearchType')?.value === 'date'"
          class="scaled-form-field"
        >
          <mat-label>Диапазон</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate />
            <input matEndDate />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div *ngIf="sortForm.get('selectedSearchType')?.value !== 'date'">
          <input
            type="text"
            class="form-control searchInput"
            placeholder="Поиск"
            aria-label="Text input with dropdown button"
            formControlName="searchValue"
          />
          <div
            *ngIf="sortForm.controls['searchValue'].errors"
            class="text-danger my-info-text"
          >
            Максимум
            {{
              sortForm.controls["searchValue"].errors["maxlength"]
                .requiredLength
            }}
            символов
          </div>
        </div>
      </div>
      <select
        class="form-select ms-1"
        formControlName="selectedSearchType"
      >
        <option value="title">по заголовку</option>
        <option value="content">по содержанию</option>
        <option value="date">по дате</option>
        <option value="link">по ссылке</option>
      </select>
    </div>

    <h6 class="text-muted">Сортировать</h6>
    <section class="d-flex flex-column">
      <mat-radio-group formControlName="selectedSortType">
        <mat-radio-button value="date" class="d-block">
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1" style="min-width: 8rem"
              >По дате</span
            >
            <select class="form-select" formControlName="selectedSortDate">
              <option value="asc">по возрастанию</option>
              <option value="desc">по убыванию</option>
            </select>
          </div>
        </mat-radio-button>
        <mat-radio-button value="title" class="mt-1 d-block">
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1" style="min-width: 8rem"
              >По заголовку</span
            >
            <select class="form-select" formControlName="selectedSortTitle">
              <option value="asc">по возрастанию</option>
              <option value="desc">по убыванию</option>
            </select>
          </div>
        </mat-radio-button>
        <mat-radio-button value="username" class="mt-1 d-block">
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1" style="min-width: 8rem"
              >По username</span
            >
            <select class="form-select" formControlName="selectedSortUsername">
              <option value="asc">по возрастанию</option>
              <option value="desc">по убыванию</option>
            </select>
          </div>
        </mat-radio-button>
        <mat-radio-button value="name" class="mt-1 d-block">
          <div class="d-flex align-items-center">
            <span class="input-group-text me-1" style="min-width: 8rem"
              >По имени</span
            >
            <select class="form-select" formControlName="selectedSortName">
              <option value="asc">по возрастанию</option>
              <option value="desc">по убыванию</option>
            </select>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <hr />

    <mat-dialog-actions [align]="'end'">
      <button
        class="btn empty-button"
        type="submit"
        [disabled]="sortForm.invalid"
      >
        <div>Выбрать</div>
      </button>
      <button class="btn empty-button" mat-dialog-close>
        <div>Назад</div>
      </button>
    </mat-dialog-actions>
  </form>
</div>
