.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}





.icon-default-shadow {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.icon-rejected-shadow {
  text-shadow: 0px 2px 2px rgba(150, 97, 97, 1);
}

.icon-pending-publication-shadow {
  text-shadow: 0px 2px 2px rgb(98, 127, 158);
}

.icon-validated-shadow {
  text-shadow: 0px 2px 2px rgb(132, 155, 107);
}
