<body class="p-1">
  <div class="container-fluid">
    @if ((advertisementService.advertisements$ | async)?.items) {
    <div class="background-rectangle-panel-shadow">
      <div class="d-flex">
        <div class="col-6 d-flex justify-content-start ps-0">
          <app-adv-list-filter
            *ngIf="selectedListType() !== advListType.MyAdvertisements"
            (onChanged)="sortChanged($event)"
            [disabled]="busyService.isLoading()"
            [isAdvertisementList]="true"
          ></app-adv-list-filter>
        </div>

        <div class="col-6 d-flex justify-content-end align-items-center">
          @if(selectedListType() !== advListType.MyAdvertisements &&
          (advertisementService.advertisements$ | async)?.pagination &&
          ((advertisementService.advertisements$ | async)?.pagination)!
          .totalItems > 0 && ((advertisementService.advertisements$ |
          async)?.pagination)! .totalItems >
          ((advertisementService.advertisements$ | async)?.pagination)!
          .itemsPerPage){

          <paginator-localization
            [disabled]="busyService.isLoading()"
            #paginator
            (page)="handlePageEvent($event)"
            [length]="
              (advertisementService.advertisements$ | async)?.pagination
                ?.totalItems ?? 0
            "
            [pageSize]="
              (advertisementService.advertisements$ | async)?.pagination
                ?.itemsPerPage ?? 0
            "
            [pageIndex]="
              (advertisementService.advertisements$ | async)?.pagination
                ?.currentPage ?? 0
            "
          ></paginator-localization>
          }
        </div>
      </div>

      <!-- BUTTONS -->
      <!-- MyAdvertisements -->
      @if( selectedListType() === advListType.MyAdvertisements &&
      (advertisementService.advertisements$ | async)?.items){

      <div class="d-flex flex-column">
        <div class="d-flex">
          <div class="col-6 d-flex align-items-center justify-content-center">
            <button class="btn empty-button" (click)="openPrivateHistory()">
              <span class="material-symbols-outlined text-muted">
                history_edu
              </span>
              <div class="text-muted">
                {{ Localization.getWord("history") }}
              </div>
            </button>
          </div>
          <div class="col-6 d-flex align-items-center justify-content-center">
            <button
              class="btn empty-button"
              (click)="create()"
              [disabled]="
                ((advertisementService.advertisements$ | async)?.items)!
                  .length > 2
              "
            >
              <span class="material-symbols-outlined text-muted">
                add_circle
              </span>
              <div class="text-muted">{{ Localization.getWord("create") }}</div>
            </button>
          </div>
        </div>
        <div class="d-flex">
          <div
            class="col-6 d-flex align-items-center justify-content-center"
          ></div>
          <div class="col-6 d-flex align-items-center justify-content-center">
            <div
              *ngIf="
                ((advertisementService.advertisements$ | async)?.items)!
                  .length > 2
              "
              class="my-info-text text-muted mb-1"
            >
              {{ Localization.getWord("maximum_ads") }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    } @if(busyService.isLoading()){
    <app-skeleton-full-screen
      [shouldShowHeaderPanel]="
        (advertisementService.advertisements$ | async)?.items === null ||
        (advertisementService.advertisements$ | async)?.items === undefined
      "
    ></app-skeleton-full-screen>
    } @else { @if ( (advertisementService.advertisements$ | async)?.items) {
    <div class="list-container">
      <mat-action-list>
        <div class="text-center text-muted mb-1">{{ getListName() }}</div>
        @for(advertisement of (advertisementService.advertisements$ | async)
        ?.items; track advertisement.id){

        <!-- Pending validation -->
        @if(selectedListType() === advListType.PendingValidation){

        <div
          class="d-flex align-items-center"
          (click)="onItemClickValidate(advertisement.id)"
        >
          <mat-list-item class="flex-grow-1">
            <mat-icon matListItemIcon>
              <span
                class="material-symbols-outlined me-3"
                [ngClass]="getShadowIconClass(advertisement)"
              >
                sticky_note_2
              </span></mat-icon
            >
            <div matListItemTitle>{{ advertisement.title }}</div>
            <div class="d-flex justify-content-start mt-2" matListItemLine>
              {{ Localization.getWord("from") }}
              {{ getUserDisplayName(advertisement) }}
            </div>
            <div class="d-flex justify-content-start" matListItemLine>
              {{ Localization.getWord("received") }}:
              {{ dateHelper.getLocalTime(advertisement.updated) }}
            </div>
          </mat-list-item>
          <span class="material-symbols-outlined text-muted">
            chevron_right
          </span>
        </div>
        <mat-divider></mat-divider>
        }
        <!-- My advertisements -->
        @if( selectedListType() === advListType.MyAdvertisements){
        <div
          class="d-flex align-items-center"
          (click)="onItemClick(advertisement.id)"
        >
          <mat-list-item class="flex-grow-1">
            <mat-icon matListItemIcon>
              <span
                class="material-symbols-outlined me-3"
                [ngClass]="getShadowIconClass(advertisement)"
              >
                sticky_note_2
              </span></mat-icon
            >
            <div matListItemTitle>{{ advertisement.title }}</div>
            <div matListItemLine class="mt-2">
              <!--
                                        -->{{ getStatus(advertisement) }}
            </div>
            <div matListItemLine>
              <!--
                                          -->{{
                getCreationDate(advertisement)
              }}
            </div>
          </mat-list-item>
          <span class="material-symbols-outlined text-muted">
            chevron_right
          </span>
        </div>
        <mat-divider></mat-divider>
        }
        <!-- AllHistory || PrivateHistory || PendingPublication-->
        @if(( selectedListType() === advListType.AllHistory ||
        selectedListType() === advListType.PrivateHistory || selectedListType()
        === advListType.PendingPublication)){

        <div
          class="d-flex align-items-center"
          (click)="onItemClick(advertisement.id)"
        >
          <mat-list-item class="flex-grow-1">
            <mat-icon matListItemIcon>
              <span
                class="material-symbols-outlined me-3"
                [ngClass]="getShadowIconClass(advertisement)"
              >
                sticky_note_2
              </span></mat-icon
            >
            <div matListItemTitle>{{ advertisement.title }}</div>
            <div matListItemLine class="mt-2">
              <!--
    -->{{ getMatListItemHistoryInfo(advertisement) }}
            </div>
            <div matListItemLine>
              <!--
    -->{{ getUserDisplayName(advertisement) }}
            </div>
          </mat-list-item>
          <span class="material-symbols-outlined text-muted">
            chevron_right
          </span>
        </div>
        <mat-divider></mat-divider>
        } } @empty {
        <app-empty-list-placeholder></app-empty-list-placeholder>
        }
      </mat-action-list>
    </div>
    } }
  </div>
</body>
