.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons-top-panel {
  background-color: #b1a89bef;
  border-radius: 8px;
  border: 1px solid #6f6f6f;
}


