.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons-top-panel {
  background-color: #ebe0d1ef;
  border-radius: 8px;
  border: 1px solid #6f6f6f;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.list-container {
  background-color: #ebe0d1ef;
  border-radius: 8px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  overflow: hidden;
}

.icon-default-shadow {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.icon-rejected-shadow {
  text-shadow: 0px 2px 2px rgba(151, 36, 36, 0.7);
}

.icon-pending-publication-shadow {
  text-shadow: 0px 2px 2px rgba(35, 49, 173, 0.7);
}

.icon-validated-shadow {
  text-shadow: 0px 2px 2px rgba(25, 189, 39, 0.7);
}
