<div *ngIf="advertisements.length === 0">
  <ng-container *ngTemplateOutlet="noAdvertisements"></ng-container>
</div>

<!-- Pending validation -->
<div *ngIf="advertisements.length > 0 && state === advListStates.Validate">
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let advertisement of advertisements"
      class="list-group-item"
      [routerLink]="['/app-advertisement-validate', advertisement.id]"
    >
      <div class="d-flex">
        <div class="d-flex flex-column col-11">
          <h6>{{ advertisement.title }}</h6>
          <div class="fw-normal">
            {{ getUserDisplayName(advertisement) }}
          </div>
        </div>
        <div
          class="d-flex fw-normal col-1 align-items-center justify-content-end"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path d="m320-116-34-34 330-330-330-330 34-34 364 364-364 364Z" />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- My advertisements -->
<div
  *ngIf="advertisements.length > 0 && state === advListStates.MyAdvertisements"
>
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let advertisement of advertisements"
      class="list-group-item"
      [routerLink]="['/app-advertisement-edit', advertisement.id]"
    >
      <div class="d-flex">
        <div class="d-flex flex-column col-11">
          <h6>{{ advertisement.title }}</h6>
          <div class="fw-normal text-muted">
            {{ getStatus(advertisement) }}
          </div>
        </div>
        <div
          class="d-flex fw-normal col-1 align-items-center justify-content-end"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path d="m320-116-34-34 330-330-330-330 34-34 364 364-364 364Z" />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #noAdvertisements>
  <p>Нет объявлений для отображения.</p>
</ng-template>
