<body class="p-1">
  <div class="container-fluid px-0">
    <form
      *ngIf="!isSend"
      id="editForm"
      [formGroup]="editForm"
      (ngSubmit)="onSendClick()"
      autocomplete="off"
    >
      <div class="d-flex background-rectangle-panel-shadow">
        <div class="col-6"></div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button"
            type="button"
            (click)="onSendClick()"
            [disabled]="editForm.invalid"
          >
            <span class="material-symbols-outlined text-muted"> send </span>
            <div class="text-muted">{{ Localization.getWord("send") }}</div>
          </button>
        </div>
      </div>
      <div class="main-data-panel background-rectangle-panel-common">
        <div class="text-muted my-info-text mb-2 mt-1 text-center">
          {{ Localization.getWord("error_messages_requests_suggestions") }}
        </div>
        <mat-form-field class="w-100 mb-2">
          <mat-label>{{ Localization.getWord("feedback_label") }}</mat-label>
          <textarea
            matInput
            rows="3"
            name="feedback"
            formControlName="feedback"
          ></textarea>
          <mat-error>{{
            matErrorService.getErrorMessage(
              editForm.controls["feedback"],
              "feedback"
            )
          }}</mat-error>
          <mat-hint [align]="'end'">
            {{ feedbackCounter }}/{{ maxFeedbackLength }}</mat-hint
          >
        </mat-form-field>
      </div>
    </form>

    <ng-template [ngIf]="isSend">
      <div class="alert alert-success" role="alert">
        <div class="d-flex w-100 justify-content-center text-muted">
          <span class="material-symbols-outlined text-muted"> done_all </span>
          {{ Localization.getWord("sent") }}
        </div>
      </div>
    </ng-template>
  </div>
</body>
