@import "../../theme.scss";

body {
  overflow: hidden;
}

#page-container {
  position: relative;
  min-height: 90vh;
}

.button-card {
  cursor: pointer;
  background-color: $soft-beige-background-opacity;
  border-radius: 8px;
}

.very-dark-brown h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.very-dark-brown p {
  font-size: 14px;
  color: $warm-gray;
}

.material-symbols-outlined {
  color: $very-dark-brown;
  font-size: 36px;
}

.impressum-button {
  cursor: pointer;
}

#impressumInfo {
  position: absolute;
  bottom: 0;
  width: 99%;
  z-index: 10;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}

#impressumInfo.isOpen {
  transform: translateY(0);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $soft-beige-background-opacity;

  #{&}__hr {
    position: absolute;
    width: 99%;
    height: 1px;
    background: $warm-gray;
    bottom: -10;
  }
}
