<body class="px-1 py-1">
  <div class="container-fluid px-0">
    @if (busyService.isLoading()){
    <app-skeleton-full-screen
      [shouldShowHeaderPanel]="false"
    ></app-skeleton-full-screen>
    }@else {
    <div
      *ngIf="accountService.currentUser()?.isAdmin"
      class="button-container mb-1"
    >
      <a
        [routerLink]="['/adv-list', advListType.PendingValidation]"
        style="text-decoration: none; color: inherit"
      >
        <mat-card class="button-card" matRipple>
          <div class="button-content">
            <div class="d-flex align-items-center">
              <span
                class="material-symbols-outlined home-symbols-outlined me-3 icon-shadow"
              >
                verified
              </span>

              <div class="very-dark-brown flex-grow-1">
                <h6>{{ Localization.getWord("validate_title") }}</h6>
                <p class="mb-2">
                  {{ Localization.getWord("validate_subtitle") }}
                </p>
              </div>
              <div class="d-flex justify-content-end align-items-center">
                <mat-progress-bar
                  *ngIf="busyService.isLoading(); else counterTemplate"
                  mode="buffer"
                  style="width: 2rem"
                ></mat-progress-bar>

                <ng-template #counterTemplate>
                  <div
                    *ngIf="advertisementsToValidateCount > 0"
                    class="text-muted"
                  >
                    {{ advertisementsToValidateCount }}
                  </div>
                </ng-template>
                <span class="material-symbols-outlined text-muted">
                  chevron_right
                </span>
              </div>
            </div>
          </div>
        </mat-card>
      </a>
    </div>

    <div
      *ngIf="accountService.currentUser()?.isAdmin"
      class="button-container mb-1"
    >
      <a
        [routerLink]="['/app-chat-filter']"
        style="text-decoration: none; color: inherit"
      >
        <mat-card class="button-card" matRipple>
          <div class="button-content">
            <div class="d-flex align-items-center">
              <span
                class="me-3 ms-1 material-symbols-outlined home-symbols-outlined icon-shadow"
              >
                tune
              </span>
              <div class="very-dark-brown flex-grow-1">
                <h6>{{ Localization.getWord("chat_filter_title") }}</h6>
                <p class="mb-2">
                  {{ Localization.getWord("chat_filter_subtitle") }}
                </p>
              </div>

              <span class="material-symbols-outlined text-muted">
                chevron_right
              </span>
            </div>
          </div>
        </mat-card>
      </a>
    </div>

    <div class="button-container mb-1">
      <a
        [routerLink]="['/adv-list', advListType.MyAdvertisements]"
        style="text-decoration: none; color: inherit"
      >
        <mat-card class="button-card" matRipple>
          <div class="button-content">
            <div class="d-flex align-items-center">
              <span
                class="me-3 ms-1 material-symbols-outlined home-symbols-outlined icon-shadow"
              >
                ad_group
              </span>
              <div class="very-dark-brown flex-grow-1">
                <h6>{{ Localization.getWord("my_ads_title") }}</h6>
                <p class="mb-2">
                  {{ Localization.getWord("my_ads_subtitle") }}
                </p>
              </div>

              <span class="material-symbols-outlined text-muted">
                chevron_right
              </span>
            </div>
          </div>
        </mat-card>
      </a>
    </div>
    <div class="button-container mb-1">
      <a
        [routerLink]="['/adv-list', advListType.PendingPublication]"
        style="text-decoration: none; color: inherit"
      >
        <mat-card class="button-card" matRipple>
          <div class="button-content">
            <div class="d-flex align-items-center">
              <span
                class="me-3 ms-1 material-symbols-outlined home-symbols-outlined icon-shadow"
              >
                autorenew
              </span>
              <div class="very-dark-brown flex-grow-1">
                <h6>{{ Localization.getWord("publishing_title") }}</h6>
                <p class="mb-2">
                  {{ Localization.getWord("publishing_subtitle") }}
                </p>
              </div>

              <span class="material-symbols-outlined text-muted">
                chevron_right
              </span>
            </div>
          </div>
        </mat-card>
      </a>
    </div>

    <div class="button-container mb-1">
      <a
        [routerLink]="['/adv-list', advListType.AllHistory]"
        style="text-decoration: none; color: inherit"
      >
        <mat-card class="button-card" matRipple>
          <div class="button-content">
            <div class="d-flex align-items-center">
              <span
                class="me-3 ms-1 material-symbols-outlined home-symbols-outlined icon-shadow"
              >
                history_edu
              </span>
              <div class="very-dark-brown flex-grow-1">
                <h6>{{ Localization.getWord("history_title") }}</h6>
                <p class="mb-2">
                  {{ Localization.getWord("history_subtitle") }}
                </p>
              </div>

              <span class="material-symbols-outlined text-muted">
                chevron_right
              </span>
            </div>
          </div>
        </mat-card>
      </a>
    </div>

    <div class="button-container mb-1">
      <a
        [routerLink]="['/app-feedback']"
        style="text-decoration: none; color: inherit"
      >
        <mat-card class="button-card" matRipple>
          <div class="button-content">
            <div class="d-flex align-items-center">
              <span
                class="me-3 ms-1 material-symbols-outlined home-symbols-outlined icon-shadow"
              >
                communication
              </span>
              <div class="very-dark-brown flex-grow-1">
                <h6>{{ Localization.getWord("feedback_title") }}</h6>
                <p class="mb-2">
                  {{ Localization.getWord("feedback_subtitle") }}
                </p>
              </div>

              <span class="material-symbols-outlined text-muted">
                chevron_right
              </span>
            </div>
          </div>
        </mat-card>
      </a>
    </div>
    }
  </div>
</body>
