.button-card {
  cursor: pointer;
  background-color: #ebe0d1ef;
  border-radius: 8px;
}

.button-icon {
  color: #2196f3;
  font-size: 24px;
}

.button-text h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.button-text p {
  font-size: 14px;
  color: #757575;
}

.material-symbols-outlined {
  color: #7c21f3;
  font-size: 36px;
}
