<body class="p-1">
  @if(advertisement){
  <form
    id="editForm"
    [formGroup]="editForm"
    (ngSubmit)="save()"
    autocomplete="off"
  >
    <div class="container-fluid px-0">
      <div class="d-flex background-rectangle-panel-shadow">
        <div class="col-6"></div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <button
            class="btn empty-button"
            type="submit"
            [disabled]="editForm.invalid || busyService.isLoading()"
          >
            <ng-container *ngIf="busyService.isLoading(); else defaultIcon">
              <mat-spinner [diameter]="24"></mat-spinner>
            </ng-container>
            <ng-template #defaultIcon>
              <span class="material-symbols-outlined text-muted">
                check_circle
              </span>
            </ng-template>
            <div class="text-muted">Сохранить</div>
          </button>
        </div>
      </div>
      <div>
        <div class="background-rectangle-panel-shadow mt-2 p-1">
          <mat-form-field class="w-100 mt-4">
            <mat-label>Заголовок</mat-label>
            <input
              matInput
              [readonly]="busyService.isLoading()"
              formControlName="title"
            />
            @if (matErrorService.getHasError(editForm.controls['title'])){
            <mat-error>{{
              matErrorService.getErrorMessage(
                editForm.controls["title"],
                "title"
              )
            }}</mat-error>
            }
            <mat-hint [align]="'end'">
              {{ titleCounter }}/{{ maxTitleLength }}</mat-hint
            >
          </mat-form-field>

          <mat-form-field class="mt-3 w-100">
            <mat-label>Объявление</mat-label>
            <textarea
              matInput
              required
              rows="6"
              type="text"
              name="message"
              formControlName="message"
              [readonly]="busyService.isLoading()"
            ></textarea>
            @if (matErrorService.getHasError(editForm.controls['message'])){
            <mat-error>{{
              matErrorService.getErrorMessage(
                editForm.controls["message"],
                "message"
              )
            }}</mat-error>
            }
            <mat-hint [align]="'end'">
              {{ messageCounter }}/{{ maxMessageLength }}</mat-hint
            >
          </mat-form-field>

          <div class="d-flex flex-column align-items-start">
            <div class="d-flex">
              <button
                *ngIf="!this.advertisement.adImage"
                class="btn empty-button p-0 text-start"
                type="button"
                (click)="showImageSelector()"
                [disabled]="busyService.isLoading()"
              >
                <div class="d-flex flex-column align-items-start">
                  <span
                    class="material-symbols-outlined text-muted"
                    style="font-size: 48px; margin-left: 0"
                  >
                    image
                  </span>
                  <div class="text-muted my-info-text" style="margin-left: 0">
                    Изображение
                  </div>
                </div>
              </button>

              <button
                *ngIf="this.advertisement.adImage"
                class="btn empty-button ps-0 text-start"
                type="button"
                (click)="deleteImage()"
                [disabled]="busyService.isLoading()"
              >
                <span
                  class="material-symbols-outlined text-muted"
                  style="font-size: 48px"
                >
                  close
                </span>
                <div class="text-muted my-info-text">Удалить</div>
              </button>

              <div
                *ngIf="this.advertisement.adImage"
                class="image-container"
                style="width: 100px"
              >
                <img
                  [src]="this.advertisement.adImage.url"
                  (click)="showImage()"
                  alt="Изображение"
                  class="preview-image rounded"
                />
              </div>
            </div>

            <button
              type="button"
              class="btn empty-button p-0"
              *ngIf="!advertisement.linkName"
              (click)="showAddAdvertisementButtonDialog()"
              [disabled]="busyService.isLoading()"
            >
              <div class="d-flex flex-column align-items-start">
                <span
                  class="material-symbols-outlined text-muted"
                  style="font-size: 48px; margin-left: 0"
                >
                  link
                </span>
                <div class="text-muted my-info-text" style="margin-left: 0">
                  Кнопка
                </div>
              </div>
            </button>
          </div>

          <div class="d-flex flex-column mt-2" *ngIf="advertisement.linkName">
            <div
              class="background-rectangle-panel-common p-2 d-flex flex-column"
            >
              <div class="d-flex">
                <div>Кнопка:</div>
                <div class="ms-1 linkName">{{ advertisement.linkName }}</div>
              </div>
              <div class="d-flex">
                <div>Ссылка:</div>
                <a [href]="advertisement.linkValue" class="ms-1">
                  {{ advertisement.linkValue }}
                </a>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn empty-button semi-transparent"
                (click)="removeAdvertisementButton()"
                [disabled]="busyService.isLoading()"
              >
                Удалить
              </button>
              <button
                type="button"
                class="btn empty-button semi-transparent"
                (click)="showAddAdvertisementButtonDialog()"
                [disabled]="busyService.isLoading()"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #imageSelectorDialog>
    <div class="modal-body">
      <div class="container d-flex justify-content-between align-items-center">
        <h6 class="text-muted mt-2 mb-0">Выберите изображение</h6>
        <div class="d-flex mt-2">
          <button
            type="button"
            class="btn empty-button"
            aria-label="Close"
            [disabled]="!selectedImage"
            (click)="selectImage()"
          >
            <span class="material-symbols-outlined text-muted">
              check_circle
            </span>
            <div class="text-muted my-info-text">Выбрать</div>
          </button>
          <button
            type="button"
            class="btn empty-button ms-2"
            (click)="modalRef?.hide()"
          >
            <span class="material-symbols-outlined text-muted"> close </span>
            <div class="text-muted my-info-text">Закрыть</div>
          </button>
        </div>
      </div>
      <hr class="mt-2 mb-0" />
      <div *ngIf="busyService.isLoading(); else imageListContent">
        <app-skeleton-full-screen
          [shouldShowHeaderPanel]="false"
        ></app-skeleton-full-screen>
      </div>

      <ng-template #imageListContent>
        <app-empty-list-placeholder
          *ngIf="userImages.length === 0; else imageList"
          [customContent]="emptyListInfo"
        >
          <ng-template #emptyListInfo>
            <div class="d-flex flex-column align-items-center text-muted mb-3">
              <div class="my-info-text" style="line-height: 1.5">
                Нет загруженных изображений.
              </div>
              <div class="my-info-text" style="line-height: 1.5">
                Для загрузки выполните в боте команду <strong>/start</strong>,
              </div>
              <div class="my-info-text" style="line-height: 1.5">
                далее выберите пункт меню
                <strong>'Загрузить изображения'</strong>.
              </div>
            </div>
          </ng-template>
        </app-empty-list-placeholder>
        <ng-template #imageList>
          <div class="modal-body">
            <div *ngFor="let image of userImages; let first = first">
              <img
                [src]="image.url"
                alt="image"
                [ngClass]="{
                  'mt-1': !first,
                  'selected-image': selectedImage === image
                }"
                class="preview-image"
                (click)="selectImageHandler(image)"
              />
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </ng-template>
  <ng-template #imageShowTemplate>
    <app-image-preview-modal
      [imageUrl]="this.advertisement.adImage?.url"
      [modalRef]="modalRef"
    ></app-image-preview-modal>
  </ng-template>

  <!-- Add button dialog -->

  <ng-template #modalAddAdvertisementButtonDialog>
    <app-add-advertisement-button-modal
      [modalRef]="modalRef"
      [buttonName]="advertisement.linkName"
      [link]="advertisement.linkValue"
      (onSave)="receiveButtonLink($event)"
    >
    </app-add-advertisement-button-modal>
  </ng-template>

  }
</body>
