<a
  (click)="onFilterClick()"
  class="btn btn-hover-light rounded-2 d-flex align-items-start gap-2 py-2 px-3 lh-sm text-start"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 -960 960 960"
    width="24px"
    fill="#5f6368"
  >
    <path
      d="M778-164 528-414q-30 26-69 40t-77 14q-92.23 0-156.12-63.84-63.88-63.83-63.88-156Q162-672 225.84-736q63.83-64 156-64Q474-800 538-736.12q64 63.89 64 156.12 0 41-15 80t-39 66l250 250-20 20ZM382-388q81 0 136.5-55.5T574-580q0-81-55.5-136.5T382-772q-81 0-136.5 55.5T190-580q0 81 55.5 136.5T382-388Z"
    />
  </svg>
  <div>
    <div class="d-block text-muted">Сортировка</div>
    <div class="my-info-text text-muted">{{ getLabelText() }},</div>
    <div class="my-info-text text-muted">
      {{ currentSortOption.order === "asc" ? "по возрастанию" : "по убыванию" }}
    </div>
  </div>
</a>

<ng-template #modalDialog>
  <form [formGroup]="sortForm">
    <div class="modal-header">
      <div class="d-flex align-items-start">
        <div class="d-flex flex-column">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Поиск"
              aria-label="Text input with dropdown button"
              formControlName="searchValue"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="clearSearch()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="m256-236-20-20 224-224-224-224 20-20 224 224 224-224 20 20-224 224 224 224-20 20-224-224-224 224Z"
                />
              </svg>
            </button>
          </div>
          <div
            *ngIf="sortForm.controls['searchValue'].errors"
            class="text-danger my-info-text"
          >
            Максимум
            {{
              sortForm.controls["searchValue"].errors["maxlength"]
                .requiredLength
            }}
            символов
          </div>
        </div>
        <select
          style="width: auto"
          class="form-select ms-2"
          formControlName="selectedSearchType"
        >
          <option value="title">по заголовку</option>
          <option value="content">по содержанию</option>
          <option value="date">по дате</option>
          <option value="link">по ссылке</option>
        </select>
      </div>
    </div>
    <div class="modal-body ms-1">
      <h6 class="text-muted">Сортировать</h6>
      <section class="d-flex flex-column">
        <mat-radio-group formControlName="selectedSortType">
          <mat-radio-button value="date" class="d-block">
            <div class="input-group">
              <span class="input-group-text">По дате</span>
              <select class="form-select" formControlName="selectedSortDate">
                <option value="asc">по возрастанию</option>
                <option value="desc">по убыванию</option>
              </select>
            </div>
          </mat-radio-button>
          <mat-radio-button value="title" class="mt-1 d-block">
            <div class="input-group">
              <span class="input-group-text">По заголовку</span>
              <select class="form-select" formControlName="selectedSortTitle">
                <option value="asc">по возрастанию</option>
                <option value="desc">по убыванию</option>
              </select>
            </div>
          </mat-radio-button>
          <mat-radio-button value="username" class="mt-1 d-block">
            <div class="input-group">
              <span class="input-group-text">По username</span>
              <select
                class="form-select"
                formControlName="selectedSortUsername"
              >
                <option value="asc">по возрастанию</option>
                <option value="desc">по убыванию</option>
              </select>
            </div>
          </mat-radio-button>
          <mat-radio-button value="name" class="mt-1 d-block">
            <div class="input-group">
              <span class="input-group-text">По имени</span>
              <select class="form-select" formControlName="selectedSortName">
                <option value="asc">по возрастанию</option>
                <option value="desc">по убыванию</option>
              </select>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <hr />

      <div class="d-flex justify-content-end mt-3">
        <button
          class="btn empty-button me-4"
          (click)="save()"
          [disabled]="sortForm.invalid"
        >
          <div>Выбрать</div>
        </button>
        <button class="btn empty-button" (click)="modalRef?.hide()">
          <div>Назад</div>
        </button>
      </div>
    </div>
  </form>
</ng-template>
