<body class="p-1">
  <div class="container-fluid">
    <div class="background-rectangle-panel-shadow">
      <div class="d-flex">
        <div class="col-6">
          <app-adv-list-filter
            (onChanged)="sortChanged($event)"
            [disabled]="busyService.isLoading()"
            [sortOption]="appStore.chatFilterPaginationParams().sortOption"
            [isExtended]="false"
          ></app-adv-list-filter>
        </div>
        <div
          class="col-6 d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="btn empty-button"
            [disabled]="appStore.chatFilterIds.length > maxItemNumber"
            (click)="showAddDialog()"
          >
            <span class="material-symbols-outlined text-muted">
              add_circle
            </span>
            <div class="text-muted">{{ Localization.getWord("create") }}</div>
            @if(appStore.chatFilterIds.length > maxItemNumber){
            <div class="my-info-text text-danger">
              {{ Localization.getWord("maximum") }} {{ maxItemNumber }}
            </div>
            }
          </button>
        </div>
      </div>
    </div>

    @if(appStore.areChatFiltersLoaded()){
    <div class="list-container">
      <mat-list>
        <div class="text-center text-muted mb-1">
          {{ Localization.getWord("chat_filter_title") }}
        </div>
        @for (item of appStore.sortedChatFilters(); track item.id) {

        <div class="d-flex align-items-center">
          <mat-list-item class="flex-grow-1">
            <mat-icon matListItemIcon>
              <span class="material-symbols-outlined me-3">
                font_download_off
              </span></mat-icon
            >
            <div matListItemTitle>{{ item.value }}</div>
            <div matListItemLine class="mt-1">
              <!--
          -->{{ Localization.getWord("created_label") }}
              {{ dateHelper.getLocalTime(item.created) }}
            </div>
          </mat-list-item>
          <button class="btn empty-button" (click)="deleteChatFilter(item)">
            <span class="material-symbols-outlined text-muted"> close </span>
          </button>
        </div>
        <mat-divider class="mt-1"></mat-divider>

        } @empty {
        <app-empty-list-placeholder></app-empty-list-placeholder>
        }
      </mat-list>
    </div>
    } @else {
    <app-skeleton-full-screen
      [shouldShowHeaderPanel]="false"
    ></app-skeleton-full-screen>
    }

    <ng-template #addFilterDialog>
      <modal-dialog-add-chat-filter
        [close]="closeDialog"
        [confirm]="addChatFilterDialogConfirm"
      ></modal-dialog-add-chat-filter>
    </ng-template>
  </div>
</body>
