<div class="modal-header d-flex justify-content-end pb-0 pt-1">
  <button type="button" class="btn empty-button" (click)="closeModal()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#5f6368"
    >
      <path
        d="m256-236-20-20 224-224-224-224 20-20 224 224 224-224 20 20-224 224 224 224-20 20-224-224-224 224Z"
      />
    </svg>
    <div class="text-muted my-info-text">Закрыть</div>
  </button>
</div>
<div class="modal-body">
  <img [src]="imageUrl" alt="image" class="preview-image" />
</div>
